.App-header {
    background-color: #777777;
    min-height: 10vh;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }
  .form{
    display: flex;
    align-self: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .search{
    flex:0;
    display: flex;
    flex-direction: row;
  }
  
  .searchButton{
    flex:0;
    margin:1rem;
    padding:.2rem;
    color: #e9e9e9;
    background-color: #777777;
    border-color: transparent;
  }
  
  .searchInput{
    flex:1;
  }
  .inputTypeText{
    padding: 12px 10px;
    margin: 12px;
    width: 23em;
    background-color: #777777;
    border-color: transparent;
    border: none;
    /* border-bottom: 2px solid #bcbcbc; */
    color:#e9e9e9;
    font-size: 1em;;
  }
  
  input[type=text]:focus-visible{
    border-bottom: 2px solid #777777;
    outline: none;
  }

  input[type="radio" i] {
    margin: 7px 3px 0px 5px;
  }
  .rangeFilter{
    flex:1;
    min-height:100px;
  }
  .yearTitle{
    font-size:.5em;
  }
  .typeTitle{
    align-self: baseline;
  
  }
  .radioButton{
    flex:2;
    display: flex;
    flex-direction: column;
    font-size: .7em;
    min-height: 50px;
  }
  .radioGroup{
    display: flex;
    flex-direction: row;
  }
  .inputRadio{
    flex: 0;
  
  }
  .inputLabel{
    flex:1;
    display: flex;
    flex-direction: row;
  }
  #left{
    height: 90vh;
    overflow-y: auto;
  }
  .left{
    height: 90vh;
    overflow-y: auto;
  }
  .right{
    flex:1;
    height: 100vh;
    overflow-y: auto;
  }
  
  
  .contentContainer{
  
    font-size: 1.2rem;
  }
  .left{
    padding:.5em;
    max-width:30vw;
  }
  @media only screen and (max-width: 1200px) {
    .form{
      flex-direction: column;
    }
    .left{
      max-width: 43vw;
    }
  }