.movieBox{
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    color:#5a5a5a;
}
.MoviePoster{
    flex:0;
    padding: 1vw;
}
.posterContainer{
    display:flex;
    flex-direction: row; 
}
.imagePoster{
    flex:0;
    padding:2vw;
    width: auto;
    height: 50vh;
}
.titleContainer{
    flex:1;
    min-height: 10vh;
    display:flex;
    flex-direction: column; 
    padding: 2vh;
}
.watchList{
    flex:0;
    padding: 1vh 2vh;
    padding-left: 17vw;
    height: auto;
    width: 163px;
    display: flex;
    flex-direction: row-reverse;
}
.title{
    flex:1;
    min-height: 10vh;
    font-size: 2em;
    font-weight:600;
    color: #000000;
    padding:1vw;
}
.categoryContainer{
    flex:2;
    min-height: 10vh;
    display:flex;
    flex-direction: row; 
    }
.rated{
    flex:0;
    align-self: center;
    padding: 10px 17px;
    border: 1px solid #5a5a5a;
    border-radius: 10px;
    font-weight: 600;
    white-space: nowrap;
}
.year{
    flex:1;
    align-self: center;
    padding: 1vw;
}
.genre{
    flex:2;
    align-self: center;
    padding: 1vw;
    white-space: nowrap;
}
.time{
    flex:3;
    align-self: center;
    padding: 1vw;
}
.actors{
    flex:3;
    padding:1vw;
}
.plot{
    flex:1;
    border-top: 1px solid #5a5a5a;
    border-bottom: 1px solid #5a5a5a;
    padding: 3vh 2vh;
}
.ratings{
    flex:2;
    min-height: 10vh;
    display:flex;
    flex-direction: row; 
}
.individualRating{
    flex:0;
    min-height: 10vh;
    flex-grow: 1;
    padding: 20px 14px;
}
.ratingsBorder{
    margin: 1vh 0;
    border-right: 1px solid #5a5a5a;
}

.rt{
    flex:1;
}
.mc{
    flex:2;
}

.wishListIconOuter{
    display:flex;
    flex-direction: row;
    align-items:baseline;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
}
.wishListIcon{
    align-self: center;
}
.wishListInner{
    flex: 1;
    padding: 0px 15px;
}
@media only screen and (max-width: 1200px) {
    .posterContainer{
        flex-direction: column;
    }
    .right{
        height: 80vh;
    }
    .imagePoster{
        height: 20vh;
    }
    .watchList{
        padding-left: 40vw;
    }
}
@media only screen and (max-width: 960px) {

    .watchList{
        padding-left: 0vw;
    }
}
@media only screen and (max-width: 760px) {

    .watchList{
        padding-left: 0vw;
    }
}