

body {
  height: 100%;   
  overflow: hidden;  /* makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
  margin: 0px;  /* removes default style */
}

.contentContainer{
  display:flex;
  flex-direction: row;
}

