


/* .App {
  text-align: center;
  display: flex; 
  flex-direction: row ;
  justify-content: center;
} */

body {
  height: 100%;   
  overflow: hidden;  /* makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
  margin: 0px;  /* removes default style */
}
.contentContainer{
  display:flex;
  flex-direction: row;
}


.App-header {
  background-color: #777777;
  min-height: 10vh;
  flex-grow: 1;
  align-self: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(124, 124, 124);
}

.left{
  height: 100vh;
}
.right{
  flex:1;
  height: 100vh;
}



