


/* .App {
  text-align: center;
  display: flex; 
  flex-direction: row ;
  justify-content: center;
} */

body {
  height: 100%;   
  overflow: hidden;  /* makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
  margin: 0px;  /* removes default style */
}

.contentContainer{
  display:flex;
  flex-direction: row;
}

.App-header {
  background-color: #777777;
  min-height: 10vh;
  /* flex-grow: 1;
  display: flex;
  align-self: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.form{
  display: flex;
  align-self: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search{
flex:0;
display: flex;
flex-direction: row;
}

.searchButton{
  flex:0;
  margin:1rem;

  padding:.2rem;
  color: #e9e9e9;
  background-color: #777777;
  border-color: transparent;
}

.searchInput{
  flex:1;
}


.inputTypeText{
  padding: 12px 10px;
  margin: 12px;
  width: 23em;
  background-color: #e9e9e9;
  border-color: transparent;
}
.rangeFilter{
  flex:1
}
.radioButton{
  flex:2;
  display: flex;
  flex-direction: row;
}
.inputRadio{
  flex: 0;

}
.inputLabel{
  flex:1;
  display: flex;
  flex-direction: row;
}
.left{
  height: 100vh;
  overflow-y: auto;
}
.right{
  flex:1;
  height: 100vh;
}
.movieBox{
  overflow-y: auto;
  display:flex;
  flex-direction: column; 
}
.MoviePoster{
  flex:0;
  min-height: 10vh;
}
.posterContainer{
  display:flex;
  flex-direction: row; 
}
.imagePoster{
  flex:0;
}
.titleContainer{
  flex:1;
  min-height: 10vh;
  display:flex;
  flex-direction: column; 
}
.watchList{
flex:0;
min-height: 10vh;
}
.title{
flex:1;
min-height: 10vh;
}
.categoryContainer{
flex:2;
min-height: 10vh;
display:flex;
flex-direction: row; 
}
.rated{
flex:0;
}
.year{
  flex:1;
}
.genre{
  flex:2;
}
.time{
  flex:3;
}
.actors{
flex:3;
min-height: 10vh;
}
.plot{
  flex:1;
  min-height: 10vh;
}
.ratings{
  flex:2;
  min-height: 10vh;
  display:flex;
  flex-direction: row; 
}
.imdb{
flex:0;
min-height: 10vh;
}
.rt{
flex:1;
}
.mc{
flex:2;
}
